.todo{
  font-size:20px;
}
.todo-heading{
  font-size:66px;
  text-align: center;
}
.todo input{
  border:0 solid black;
  border-bottom:1px solid black !important;
  padding:1vw 0;
  width:100%;
}
.todo input:focus{
  outline: none !important;
}
.list{
  background-color:rgb(159, 221, 159);
  margin:1vw;
}
.completed-list{
  background-color:rgb(88, 246, 88) ;
  margin:1vw;
}
.update-button{
  text-align: right;
}